@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.content{
    width: 100%;
}

.temp{
    font-weight: 500;
}

.weatherInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    font-weight: 300;
}

.description{
    text-transform: capitalize;

}