@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoContent{
  width: 50%;
}