@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoContent{
  width: 500px;
  height: 40%;
  padding: 30px;
  margin-top: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.searchInput{
  width: 350px;
  height: 40px;
  padding: 0px 30px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #d4d4d4;
  font-size: 20px;
}